# dependencies
node_modules/

# build output
dist/
build/

# dotenv environment variables
.env
.env.*.local

# IDE/editor files
.vscode/
.idea/

# logs
*.log

# system files
.DS_Store
Thumbs.db

# vercel local config
.vercel/
